PORT=5000
MONGO_URI=mongodb+srv://dev_team:d6OEMOeryj0A0a2Z@agilatracker.owjmpfp.mongodb.net/agilatracker?retryWrites=true&w=majority&authSource=admin
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
